{% include"header.html" %}
<style type="text/css">
	.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
</style>
	<form action="" method="post">
		<div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Suppréssion</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
              </div>
            </div>

            <div class="box-body">
            	{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages%}
            <div class="alert alert-{{ category }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4>  <i class="icon fa fa-check"></i> Alert!</h4>
              {{message}}
            </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
              <section class="content">
					<div class="alert alert-danger" role="alert">
  		    		<h4 class="alert-heading">Étes vous sur de vouloire supprimmer l'utilisateur ?</h4>
  					<p><b>ID : {{users.id}}</b></p>
  					<p><b>Nom : {{users.FirstName}}</b></p>
  					<p><b>Prénom : {{users.LastName}}</b></p>
  					<p><b>Mail : {{users.Mail}}</b></p>
  					<p><b>Phone : {{users.Phone}}</b></p>
  					
  					<hr>
  					<p class="mb-0  text-center">
  						<a class="btn btn-warning" href="{{url_for('.ManageUsers')}}">Annuler</a>
  						<button class="btn btn-primary" type="submit">Supprimmer</button>
  					</p>
  					</div>
  			  </section>
		</div>
	</div>
</form>



{% include"footer.html" %}